.card__product {
  width: 240px;
  background-color: #fff;
  .card__img {
    width: 230px;
    height: 230px;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .card__info {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(#000000, 0.5);
    .card__left {
        width: 215px;
      h4 {
        display: flex;
        gap: 8px;
        align-items: center;
        span {
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        span:first-child {
          color: var(--dark, #1c1c1c);
        }
        span:last-child {
          color: var(--gray-500, #8b96a5);
        }
      }
      h3 {
        display: flex;
        gap: 6px;
        align-items: center;
        margin: 13px 0;
        span {
          color: var(--base-color-orange, #ff9017);
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      p {
        color: var(--base-color-gray-800, #606060);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.2px;
      }
      .card__rigth {
      }
    }
  }
}
