.header {
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  .header__logo__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 46px;
    padding: 1px 23.786px 1px 0px;
    gap: 6.214px;
    cursor: pointer;
    .brand__logo {
      color: #8cb7f5;
    }
  }
  .header__search {
    display: flex;
    label {
      width: 421px;
      height: 40px;
      padding: 11px 5px 10px 10px;
      border: 1px solid #0d6efd;
      border-radius: 5px 0 0 5px;
      input {
        outline: none;
        border: none;
        width: 100%;
        &::placeholder {
          color: var(--gray-500, #8b96a5);
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .search__form__btn {
      width: 100px;
      height: 38.606px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0D6EFD;
      border: none;
      border-radius:0 5px 5px 0;
      color: #fff;
    }
  }
  .orders__box {
    text-align: center;
    cursor: pointer;
    .order__icon {
      width: 24px;
      height: 21.793px;
    }
    .order__tit {
      color: var(--gray-500, #8b96a5);
      text-align: center;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
