.footer {
  background: #fff;
//   border: 1px solid #000;
  width: 100%;
  .footer__lists {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 127px 0;
    // border: 1px solid #000;
    .footer__logo {
      a {
        display: flex;
        width: 150px;
        height: 46px;
        padding: 1px 23.786px 1px 0px;
        align-items: center;
        gap: 6.214px;
      }
      p {
        color: var(--gray-600, #505050);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        width: 276px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin: 15px 0;
      }
      .conpaniya {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        a {
            padding: 0;
          width: 32px;
          height: 32px;
        }
      }
    }
    .footer__info {
      h3,
      a {
        display: block;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
      }
      h3 {
        color: var(--dark, #1c1c1c);
        margin-bottom: 10px;
      }
      a {
        cursor: pointer;
        color: var(--dark, #8b96a5);
        margin-bottom: 3px;
      }
    }
    .footer__get_app {
      h3 {
        display: block;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 15px;
      }
      a {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}
